<a href="https://colab.research.google.com/github/paigefel/BTE320/blob/main/Midterm_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
grades = {
          'Alice' : 91,
          'Bob' : 88,
          'Tracy' : 93,
          'Erik' : 90
        }

In [5]:
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [6]:
for value in grades.values():
  print(value)

91
88
93
90

In [7]:
for key, value in grades.items():
  print(f'Key: {key}, Value : {value}')

Key: Alice, Value : 91
Key: Bob, Value : 88
Key: Tracy, Value : 93
Key: Erik, Value : 90

In [9]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [26]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for number, name in zip(numbers, names):
  print(f"{number} for {name}")

1 for Jan
2 for Feb
3 for Mar
4 for Apr
5 for May
6 for Jun
7 for Jul
8 for Aug
9 for Sep
10 for Oct
11 for Nov
12 for Dec